@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html, body{
  font-family: 'Ubuntu', sans-serif;
}

.loading{
  width: 100px;
  height: 100px;
}

.pet-photo{
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.border-bottom-style{
  border-bottom: 1px dashed white;
}